body {
  font-family: sans-serif;
  width: 33%;
  margin: 0 auto;
  margin-top: 5%;
  line-height: 1.5;
  border: 1px solid #aaa;
  padding: 50px;
}

a, a:hover, a:visited {
  color: black;
}

ul {
  list-style: none;
  margin-left: -40px;
}
