html {
  background: #55667F;
}

body {
  font-family: sans-serif;
  width: 33%;
  margin: 0 auto;
  margin-top: 5%;
  line-height: 1.5;
  padding: 50px;
  background: white;
  -moz-box-shadow: 0 0 10px #123;
  -webkit-box-shadow: 0 0 10px #123;
  box-shadow: 0 0 10px #123;
}

a, a:hover, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-left: -20px;
}
